<div class="custom-row">
    <i class="fa fa-home custom-icon"></i>
    <div class="headerStyle">
      Dashboard
    </div>
</div>
<div class="container mt-5">
    <div class="row mb-2">
      <div class="col-xl-3 col-lg-4 col-md-6 d-flex justify-content-center">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-bank icon-style"></i><br>
            <div class="center-content"><a routerLink="/superAdmin/policeDepartment" class="btn" routerLinkActive="active" >Police Department<i class="fa-solid fa-arrow-right icon-spacing"></i></a></div><br>
            <div class="total-style">
                <span class="total-background">Total Departments: 5</span>
              </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 d-flex justify-content-center">
        <div class="card">
          <div class="card-body">
            <i class="fa-solid fa-users icon-style"></i><br>
            <div class="center-content"><a routerLink="/superAdmin/accountsDepartment" class="btn">Accounts<i class="fa-solid fa-arrow-right icon-spacing"></i></a></div><br>
            <div class="total-style">
                <span class="total-background">Total Accounts: 40</span>
              </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 d-flex justify-content-center">
        <div class="card">
          <div class="card-body">
            <i class="fa-solid fa-file icon-style"></i><br>
            <div class="center-content"><a routerLink="/superAdmin/crashReports" class="btn">Crash Reports<i class="fa-solid fa-arrow-right icon-spacing"></i></a></div><br>
            <div class="total-style">
                <span class="total-background">Total Crash Reports: 15000</span>
              </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 d-flex justify-content-center">
        <div class="card">
          <div class="card-body">
            <i class="fa-solid fa-user icon-style"></i><br>
            <div class="center-content"><a routerLink="/superAdmin/occupants" class="btn">Occupants<i class="fa-solid fa-arrow-right icon-spacing"></i></a></div><br>
            <div class="total-style">
                <span class="total-background">Total Occupants: 35000</span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  