@import 'src/styles.scss';

.report-table-header {
    background-color: #323130 !important;
    color: #fff;
}

.report-header {
    background-color: #B0B0B0 !important;
    color: #323130;
}

.label-color {
    color: black;
    font-weight: 500;
}

.view-btn {
    font-size: 10px;
    color: white;
    padding: 7px;
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;
    background-color: #337ab7;
}

.info-btn {
    font-size: 10px;
    color: white;
    padding: 7px;
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;
    background-color: #5bc0de;
}
.warn {
    color: red;
    font-family: Roboto;
    font-weight: 500;
    text-align: center;
  }
  // Pagination CSS Starts
.numberListContainer {
    list-style: none;
    display: flex;
    justify-content: center;
}

li.numberList {
    padding: 0px 10px;
    border: 1px solid #7386d5;
    margin: 5px;
    color: #316c71;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}

li.numberList:hover {
    background: #7386d5;
    color: white;
    border: 1px solid #6375c0;
}

//Icon Styles
.icons {
    font-size: 10px;
    color: white;
    padding: 7px;
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;
}

.active {
    background-color: #1d8d97 !important;
    color: white !important;
    border: #7386d5 !important;
}

.searchPage {
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 5px;
    height: 36px;
}

.searchPage::placeholder {
    padding-left: 10px;
}

.searchPage:focus-visible {
    border: 1px solid #7386d5;
    outline: none !important;
}

.pageStatus {
    display: flex;
    justify-content: center;
    align-items: center;
}

//Pagination CSS Ends
 //Button CSS Starts
 .goBtn {
    background-color: #7386d5;
    color: white;
    border-radius: 0px 5px 5px 0px;
  }
  
  .goBtn:hover {
    color: white;
  }
  
  //Button CSS Ends