<!-- Header Starts -->
<div class="card-header h5 mb-3">
    <div class="custom-row">
        <div class="headerStyle">
            <i class="fa fa-user custom-icon"></i> Occupants
        </div>
        <div>
        </div>
    </div>
</div>
<!-- Header Ends -->
<!-- Search form Starts -->
<div class="row">
    <form class="row" [formGroup]="searchOccupantsForm">
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
            <label for="" class="form-label">Crash Date:</label>
            <div class="input-group">
                <input type="text" id="crashDate" class="form-control" formControlName="crashDate" bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" placeholder="MM/DD/YYYY" [maxDate]="today"
                    #datepicker="bsDatepicker" readonly (keydown)="$event.preventDefault()" />
                <span class="input-group-text" (click)="openDatePicker(datepicker)">
                    <i class="fa fa-calendar"></i> <!-- Calendar Icon -->
                </span>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
            <label for="" class="form-label">Report Number:</label>
            <input type="text" class="form-control" placeholder="Search Report Number" formControlName="reportNumber" />
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
            <label for="" class="form-label">First Name:</label>
            <input type="text" class="form-control" placeholder="Search First Name" formControlName="firstName" />
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
            <label for="" class="form-label">Last Name:</label>
            <input type="text" class="form-control" placeholder="Search Last Name" formControlName="lastName" />
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
            <label for="" class="form-label">Location:</label>
            <input type="text" class="form-control" placeholder="Search Location" formControlName="location" />
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
            <label for="" class="form-label"> Added On From Date:</label>
            <div class="input-group">
                <input type="text" id="addedOnFromDate" class="form-control" formControlName="addedOnFromDate"
                    [maxDate]="today" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                    placeholder="MM/DD/YYYY" #datepickerForFrom="bsDatepicker" (bsValueChange)="onDateInput($event)"
                    readonly (keydown)="$event.preventDefault()" />
                <span class="input-group-text" (click)="openDatePicker(datepickerForFrom)">
                    <i class="fa fa-calendar"></i> <!-- Calendar Icon -->
                </span>
                <!-- Error message for From Date -->
                <div *ngIf="isFromDateError" class="text-danger">Please select From date</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
            <label for="" class="form-label">Added On To Date:</label>
            <div class="input-group">
                <input type="text" id="addedOnToDate" class="form-control" formControlName="addedOnToDate"
                    [maxDate]="today" [minDate]="minimumDate" bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" placeholder="MM/DD/YYYY"
                    (bsValueChange)="onDateInputTo($event)" #datepickerForTo="bsDatepicker" [bsValue]="bsToDate"
                    readonly (keydown)="$event.preventDefault()" />
                <span class=" input-group-text" (click)="openDatePicker(datepickerForTo)">
                    <i class="fa fa-calendar"></i> <!-- Calendar Icon -->
                </span>
                <!-- Error message for To Date -->
                <div *ngIf="isToDateError" class="text-danger">Please select To date</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin custom-select-wrapper">
            <label for="" class="form-label">Department:</label>
            <select class="form-control" formControlName="policeDepartmentId">
                <option value="">Department</option>
                <option *ngFor="let department of departmentList" value="{{department?.department_id}}">
                    {{department?.name}}
                </option>
            </select>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin custom-select-wrapper">
            <label for="" class="form-label">County:</label>
            <select class="form-control" formControlName="countyId">
                <option value="">All Counties</option>
                <option *ngFor="let county of countyList" value="{{county?.county_id}}">
                    {{county?.county_name}}
                </option>
            </select>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
            <div class="btn-box">
                <button
                    class="px-3 py-2 d-flex justify-content-center align-items-center search-btn border-0 text-white"
                    type="submit" (click)="onSearch()" title="Search">
                    <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </button>
                <button class="px-3 py-2 d-flex justify-content-center align-items-center reset-btn border-0 text-white"
                    type="submit" (click)="resetSearch()" title="Reset">
                    <i class="fa-solid fa-arrows-rotate" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<!-- Search form ends -->
<!-- table start -->
<table class="table table-bordered mt-5">
    <thead>
        <tr>
            <th class="report-table-header" colspan="2">First Name</th>
            <th class="report-table-header" colspan="2">Last Name</th>
            <th class="report-table-header">Department</th>
            <th class="report-table-header">Action</th>
        </tr>
    </thead>
    <tbody *ngIf="!error">
        <ng-container *ngFor="let data of occupantsData">
            <tr>
                <td class="report-header"><label class="label-color">Crash Date:</label><br />{{data.crashDate}}
                </td>
                <td class="report-header"><label class="label-color">Report Number:</label><br />{{data.report_number}}
                </td>
                <td class="report-header"><label class="label-color">Location:</label><br />{{data.location}}</td>
                <td class="report-header"><label class="label-color">No. of
                        Occupants:</label><br />{{data.no_of_occupants}}</td>
                <td class="report-header">{{data.police_department}}</td>
                <td class="report-header">
                    <a class="view-btn" title="View" data-bs-toggle="modal" data-bs-target="#ViewModal"
                        (click)="getById(data.report_id)"><i class="fa fa-eye fa-sm"></i></a>
                    <a href="{{data.file_name}}" target="_blank" class="info-btn" title="View Report File"><i
                            class="fas fa-file"></i></a>
                    <!-- Modal Open -->
                    <div class="modal fade" id="ViewModal" tabindex="-1" role="dialog"
                        aria-labelledby="viewModalLabeled" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content detailModalSize">
                                <div class="modal-header fs-5">
                                    <h5 class="modal-title" id="viewModalLabel">Report Details</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Read-Only Fields -->
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label>County:</label>
                                            <input type="text" class="form-control" [value]="reportData.countyName"
                                                readonly />
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>Crash Date:</label>
                                            <input type="text" class="form-control" [value]="reportData.crash_date"
                                                readonly />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label>Report Number:</label>
                                            <input type="text" class="form-control" [value]="reportData.report_number"
                                                readonly />
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>Location:</label>
                                            <input type="text" class="form-control" [value]="reportData.location"
                                                readonly />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label>Crash Severity:</label>
                                            <input type="text" class="form-control"
                                                [value]="getSeverityLabel(reportData.crash_severity)" readonly />
                                        </div>
                                    </div>
                                    <!-- Table -->
                                    <h4 class="occupants">Occupants</h4>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Injuries</th>
                                                <th>Seating Position</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="occupants.length > 0; else noDataTemplate">
                                            <tr *ngFor="let occupant of occupants">
                                                <td>{{ occupant.first_name }}</td>
                                                <td>{{ occupant.last_name }}</td>
                                                <td>{{ getInjuryLabel(occupant.injuries) }}</td>
                                                <td>{{
                                                    getSeatingPositionLabel(occupant.seating_position)
                                                    }}</td>
                                            </tr>
                                        </tbody>
                                        <ng-template #noDataTemplate>
                                            <tr>
                                                <td colspan="4" class="text-center">No occupants</td>
                                            </tr>
                                        </ng-template>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger fs-6 button-close" type="button"
                                        data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Close -->
                </td>
            </tr>
            <tr *ngFor="let item of data.occupantsForms">
                <td colspan="2">{{item.first_name}}</td>
                <td colspan="4">{{item.last_name}}</td>
            </tr>
        </ng-container>
    </tbody>
    <tbody *ngIf="error">
        <tr>
            <td class="warn" colspan="6">No Records Found !</td>
        </tr>
    </tbody>
</table>
<!-- Pagination Starts -->
<div class="row mt-4" *ngIf="!error">
    <div class="col-lg-4" *ngIf="pagebutton"></div>
    <div class=" col-lg-4 d-flex flex-column" *ngIf="!pagebutton">
        <div class="d-flex align-items-center">
            <input class="searchPage" type="number" [(ngModel)]="searchPage" min="1" placeholder="Search Page" />
            <button class="button goBtn" (click)="searchPageno()">
                GO
            </button>
        </div>
        <p *ngIf="isPageAvailable" class="text-danger text-center fs-6">Page Not Found!</p>
    </div>
    <div class="col-lg-4 pageStatus">
        <div class="data-list">
            <p>
                Showing {{ startIndex + 1 }} - {{ endIndex }} of {{ count }} records
            </p>
        </div>
    </div>
    <div class="col-lg-4">
        <select *ngIf="!pagebutton" title="pagination" id="showPageType" class="form-control page-dropdown" type="text"
            (change)="onChangePagination($event)" [(ngModel)]="selectedItemsPerPage">
            <option *ngFor="let data of ItemsPerPage" [value]="data.value">
                {{ data.data }}
            </option>
        </select>
    </div>
</div>
<div class="row justify-content-center" *ngIf="!error">
    <div class="col-md-4">
        <div class="pagination-controls d-flex justify-content-center me-5 w-100" *ngIf="!pagebutton">
            <ul class="numberListContainer p-0">
                <li [ngClass]="{ numberList: currentPage != 1 }">
                    <i class="fa fa-arrow-left" aria-hidden="true" *ngIf="currentPage != 1"
                        (click)="previousPage()"></i>
                </li>
                <li class="numberList" *ngFor="let row of pages" [ngClass]="{'active': currentPage == row}"
                    (click)="(row !='...')?selectedPage(row):''">{{row}}</li>
                <li [ngClass]="{ numberList: currentPage !== totalPages }">
                    <i class="fa fa-arrow-right" aria-hidden="true" *ngIf="currentPage !== totalPages"
                        (click)="nextPage()"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Pagination Close -->