<!-- Header Starts -->
<div class="card-header h5 mb-3">
    <div class="custom-row">
        <div class="headerStyle">
            <i class="fa fa-user custom-icon"></i> Occupants
        </div>
        <div>
        </div>
    </div>
</div>
<!-- Header Ends -->
<!-- Search form Starts -->
<div class="row">
    <form class="row" [formGroup]="searchOccupantsForm">
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
            <label for="" class="form-label">Crash Date:</label>
            <input type="date" class="form-control" formControlName="crashDate" />
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
            <label for="" class="form-label">Report Number:</label>
            <input type="text" class="form-control" placeholder="Search Report Number" formControlName="reportNumber" />
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
            <label for="" class="form-label">First Name:</label>
            <input type="text" class="form-control" placeholder="Search First Name" formControlName="firstName" />
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
            <label for="" class="form-label">Last Name:</label>
            <input type="text" class="form-control" placeholder="Search Last Name" formControlName="lastName" />
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
            <label for="" class="form-label">Location:</label>
            <input type="text" class="form-control" placeholder="Search Location" formControlName="location" />
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
            <label for="" class="form-label"> Added On From Date:</label>
            <input type="date" class="form-control" formControlName="addedOnFromDate" />
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
            <label for="" class="form-label">Added On To Date:</label>
            <input type="date" class="form-control" formControlName="addedOnToDate" />
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
            <label for="" class="form-label">Department:</label>
            <select class="form-control" formControlName="policeDepartmentId">
                <option value="">Department</option>
                <option *ngFor="let department of departmentList" value="{{department?.department_id}}">
                    {{department?.name}}
                </option>
            </select>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin ">
            <label for="" class="form-label">County:</label>
            <select class="form-control" formControlName="countyId">
                <option value="">All Counties</option>
                <option *ngFor="let county of countyList" value="{{county?.county_id}}">
                    {{county?.county_name}}
                </option>
            </select>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
            <div class="btn-box">
                <button
                    class="px-3 py-2 d-flex justify-content-center align-items-center search-btn border-0 text-white"
                    type="submit" (click)="onSearch()">
                    <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </button>
                <button class="px-3 py-2 d-flex justify-content-center align-items-center reset-btn border-0 text-white"
                    type="submit" (click)="resetSearch()">
                    <i class="fa-solid fa-arrows-rotate" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<!-- Search form ends -->
<!-- table start -->
<table class="table table-bordered mt-5">
    <thead>
        <tr class="report-table-header">
            <th colspan="2">First Name</th>
            <th colspan="2">Last Name</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngIf="!error">
        <ng-container *ngFor="let data of occupantsData">
            <tr>
                <td class="report-header"><label class="label-color">Crash Date:</label><br />{{data.crashDate.date}}
                </td>
                <td class="report-header"><label class="label-color">Report Number:</label><br />{{data.report_number}}
                </td>
                <td class="report-header"><label class="label-color">Location:</label><br />{{data.location}}</td>
                <td class="report-header"><label class="label-color">No. of
                        Occupants:</label><br />{{data.no_of_occupants}}</td>
                <td class="report-header">{{data.police_department}}</td>
                <td class="report-header"><a class="view-btn" title="View"><i
                            class="fa fa-eye fa-sm"></i></a>&nbsp;&nbsp;
                    <a href="{{data.file_name}}" target="_blank" class="info-btn" title="View Report File"><i
                            class="fa fa-file fa-sm"></i></a>
                </td>
            </tr>
            <tr *ngFor="let item of data.occupantsForms">
                <td colspan="2">{{item.first_name}}</td>
                <td colspan="4">{{item.last_name}}</td>
            </tr>
        </ng-container>
    </tbody>
    <tbody *ngIf="error">
        <tr>
            <td class="warn" colspan="6">No Records Found !</td>
        </tr>
    </tbody>
</table>
<!-- Pagination Starts -->
<div class="row mt-4" *ngIf="!error">
    <div class="col-lg-4 col-xl-4" *ngIf="pagebutton"></div>
    <div class=" col-lg-4 col-xl-4 d-flex" *ngIf="!pagebutton">
        <input class="form-control w-100" type="number" [(ngModel)]="searchPage" min="1"
            placeholder="Search By page no" />
        <button class="button goBtn" (change)="searchPageno()">
            GO
        </button>
        <p *ngIf="isPageAvailable" class="text-danger text-center fs-6">Page Not Found!</p>
    </div>
    <div class="col-lg-4 col-xl-4 pageStatus">
        <div class="data-list">
            <p>
                Showing {{ startIndex + 1 }} - {{ endIndex }} of {{ count }} records
            </p>
        </div>
    </div>
    <div class="col-lg-4 col-xl-4">
        <select *ngIf="!pagebutton" title="pagination" id="showPageType" class="form-control page-dropdown" type="text"
            (change)="onChangePagination($event)">
            <option *ngFor="let data of ItemsPerPage" [value]="data.value">
                {{ data.data }}
            </option>
        </select>
    </div>
</div>
<div class="row justify-content-center" *ngIf="!error">
    <div class="col-md-4">
        <div class="pagination-controls d-flex justify-content-center me-5 w-100" *ngIf="!pagebutton">
            <ul class="numberListContainer p-0">
                <li [ngClass]="{ numberList: currentPage != 1 }">
                    <i class="fa fa-arrow-left" aria-hidden="true" *ngIf="currentPage != 1"
                        (click)="previousPage()"></i>
                </li>
                <li class="numberList" *ngFor="let page of pages" [ngClass]="{ active: currentPage === page }"
                    (click)="goToPage(page)">
                    {{ page }}
                </li>
                <li [ngClass]="{ numberList: currentPage === totalPages }">
                    <i class="fa fa-arrow-right" aria-hidden="true" *ngIf="currentPage === totalPages"
                        (click)="nextPage()"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Pagination Close -->