<section id="services" ng-cloak>
	<div class="container" style="width: 90%;" ng-cloak>
		<div class="col-md-12 search-form">
			<div class="col-md-12">
				
				<h4>Contact Us <a class="btn btn-default pull-right" href="#/"><i class="fa fa-reply"></i> Back to Search</a></h4>
				<hr/>
			</div>
			<div class="col-md-12">
			<div class="col-md-8">
			<p>Having problems downloading your crash report?</p>

		   <p>Email us at <a href="mailto:support@crashreportsonline.com">support@crashreportsonline.com</a> with: </p>

     			<ul>
     			<li>First Name (mandatory)</li>
     			<li>Last Name (mandatory)</li>
     			<hr/>
     			<li>Crash Date (optional)
				<li>Crash Report Number (optional)</li>
				<li>Location (optional)</li>
     			</ul> 
    			
			<p>We will be happy to email your report within the next 24 hours.</p>
			<p style="text-align: center;"><a href="mailto:support@crashreportsonline.com" class="btn btn-info"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Send Mail</a></p>
			<p><span ng-show="policeDepartmentId==null||policeDepartmentId==''" class="small-text">Please note that currently we provide service only for the Boardman & Fairborn Police Departments in Ohio. We are in the process of integrating with more Departments.<br/></span></p>
			</div>
			<div class="col-md-3 fa-3x">
			<a href="mailto:support@crashreportsonline.com"><i class="fa fa-envelope fa-5x"></i></a>
			</div>
			</div>
		</div>
	</div>
</section>