	<!-- SERVICES -->
	<section id="services">
		<div class="container">
			<div class="col-md-6">
			<p>This page is for the Police Department oficials to upload
				crash reports. (Sign in required)</p>
			<hr />
			<p>Not what you are looking for? To Search and Download your
				crash reports.</p>
			<hr />
			<div class="text-center">
				<a href="#/search-reports" class="btn btn-lg btn-primary" >Search Report</a>
			</div>
		</div>
				<div class="col-md-6 login-form">
				<p>To Upload Reports</p>
						<h4>Sign In</h4>
						<hr/>
						<form class="contact-form" name="indexjobForm" ng-submit="indexjobForm.$valid && saveJobSeeker()" novalidate>
                            <h5>First Name<span class="text-red"><sup>*</sup></span></h5>
                                <input type="text" name="firstName" ng-model="indexJobSeekerForm.firstName" required validate-name placeholder="First Name" maxlength="25">
                                <div class="error-container" >
                                 <div ng-show="submitted">
	                          			<span ng-cloak ng-show="indexjobForm.firstName.$error.required">Please Enter First Name</span>
	                          			<span ng-cloak ng-show="!indexjobForm.firstName.$error.required&&indexjobForm.firstName.$error.validateName">Please Enter Valid Name</span>
	                              </div>
                              	</div>
                            	<h5>Last Name</span><span class="text-red"><sup>*</sup></span></h5>
                                <input type="text" name="lastName" ng-model="indexJobSeekerForm.lastName" required validate-name placeholder="Last Name" maxlength="25">
                                <div class="error-container" >
                                 <div ng-show="submitted">
	                          			<span ng-cloak ng-show="indexjobForm.lastName.$error.required">Please Enter Last Name</span>
	                          			<span ng-cloak ng-show="!indexjobForm.lastName.$error.required&&indexjobForm.lastName.$error.validateName">Please Enter Valid Name</span>
	                              </div>
                              	</div>                               
                                <input type="submit" name="submit" ng-disabled="saveData" ng-click="submitted=true" value="Sign In" class="btn">
                            	<div flash-message="2000" class="col-md-8 pull-right no-padding"></div>
                    	</form>
			</div>
		</div>
	</section>
	<!-- /SERVICES -->

	<script>
	//Span
	var span = document.getElementsByClassName('upload-path');
	// Button
	var uploader = document.getElementsByName('indexresume');
	// On change
	for( item in uploader ) {
	  // Detect changes
	  uploader[item].onchange = function() {
	    // Echo filename in span
	    span[0].innerHTML = this.files[0].name;
	  }
	}
	
	</script>