.login-container {
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .heading {    
    color: #316c71;
  }
  
  .form-floating {
    max-width: 400px; /* Adjust as needed */
  }
  
  .btn {
    max-width: 100%; /* Ensure button fits the container */    
    background-color: #1d8d97;
    color: white;
  }

  .container {
    max-width: 1450px;
  }