@import '../../../styles.scss';

.background-color {
  background-color: $primary-color;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 50px !important;
  padding: 20px;
}

.heading {
  font-weight: 700;
  margin-bottom: 30px;
  padding: 5px;
  color: $secondary-color;
}

.btn {
  background-color: $secondary-color;
}

.custom-img {
    width: 100%;
    height: auto;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
