<!-- Header Starts -->
<div class="card-header h5 mb-3">
  <div class="custom-row">
    <div class="headerStyle">
      <i class="fa fa-users custom-icon"></i>
      Accounts
    </div>
    <div>
      <button (click)="addAccountsDepartment()" class="btn common-btn-color" data-bs-toggle="modal"
        data-bs-target="#memberModal">
        <i class="fa fa-plus add-new"></i>&nbsp;<b>Add New Account</b>
      </button>
    </div>
  </div>
</div>
<!-- Header Ends -->

<!-- Search form Starts -->
 <div>
<form class="row" [formGroup]="searchAccountsDepartmentForm">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
      <label for="" class="form-label">First Name</label>
      <input type="text" class="form-control" placeholder="Search First Name" formControlName="first_name" />
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
      <label for="" class="form-label">Last Name</label>
      <input type="text" class="form-control" placeholder="Search Last Name" formControlName="last_name" />
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
      <label for="" class="form-label">User Name</label>
      <input type="text" class="form-control" placeholder="Search User Name" formControlName="username" />
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
      <label for="" class="form-label">Email Id</label>
      <input type="text" class="form-control" placeholder="Search Email Id" formControlName="email_id" />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
      <label for="" class="form-label">Role <span class="text-danger">*</span></label>
      <select class="form-control" formControlName="role_id">
        <option value="">Role</option>
        <option *ngFor="let role of roleList" value="{{role?.role_id}}">
          {{role?.role}}
        </option>
      </select>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
      <label for="" class="form-label">Department <span class="text-danger">*</span></label>
      <select class="form-control" formControlName="police_department_id">
        <option value="">Department</option>
        <option *ngFor="let department of departmentList" value="{{department?.department_id}}">
          {{department?.name}}
        </option>
      </select>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 custom-margin">
      <div class="btn-box">
        <button class="px-3 py-2 d-flex justify-content-center align-items-center search-btn border-0 text-white"
          type="button" (click)="onSearch()">
          <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
        </button>
        <button class="px-3 py-2 d-flex justify-content-center align-items-center reset-btn border-0 text-white"
          type="button" (click)="resetSearch()">
          <i class="fa-solid fa-arrows-rotate" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</form>
</div>
<!-- Search form ends -->

<!-- Table Starts -->
<table-config *ngIf="callChildComponent" [tableData]="table_data" [search]="searchValue" (page)="page($event)"
  (actionOutput)="actionOutput($event)"></table-config>
<!-- Table Ends -->
