<!-- Header Starts -->
<div class="card-header h5">
  <div class="custom-row">
    <div class="headerStyle">
      <i class="fa fa-phone custom-icon"></i>
      Police Department
    </div>
    <div>
      <button
        (click)="addDepartment()"
        class="btn common-btn-color"
        data-bs-toggle="modal"
        data-bs-target="#memberModal"
      >
        <i class="fa fa-plus"></i>&nbsp;<b>Add Police Department</b>
      </button>
    </div>
  </div>
</div>
<!-- Header Ends -->

<!-- Search form Starts -->
<div class="row">
  <div class="input-col">
    <label for="" class="form-label">Name</label>
    <div class="input-box">
      <span class="input-group-text" id="basic-addon1">
        <i class="fa-solid fa-user"></i>
        </span>
    <input type="text" class="form-control w-70" placeholder="Name" />
    </div>
  </div>
  <div class="input-col">
    <label for="" class="form-label">Country</label>
    <div class="input-box">
      <span class="input-group-text" id="basic-addon1">
        <i class="fa-solid fa-globe"></i>
      </span>
    <select class="form-control w-70">
      <option>All</option>
      <option>Admin</option>
      <option>User</option>
    </select>
  </div>
  </div>
  <div class="input-col">
    <div class="btn-box">  
      <button
          class="px-3 py-2 d-flex justify-content-center align-items-center search-btn  border-0 text-white"
          type="submit" (click)="onSearch()"><i class="fa-solid fa-magnifying-glass"
              aria-hidden="true"></i></button>
      <button
          class="px-3 py-2 d-flex justify-content-center align-items-center reset-btn  border-0 text-white"
          type="submit" (click)="resetSearch()"><i class="fa-solid fa-arrows-rotate"
              aria-hidden="true"></i></button>
    </div>
  </div>
  </div>
    <!-- Search form ends -->

<!-- Table Starts -->
<table-config [tableData]="table_data" />
<!-- Table Ends -->
