<!-- Header Starts -->
<div class="card-header h5 mb-3">
  <div class="custom-row">
    <div class="headerStyle">
      <i class="fa fa-phone custom-icon"></i>
      Police Department
    </div>
    <div>
      <button
        (click)="addDepartment()"
        class="btn common-btn-color"
        data-bs-toggle="modal"
        data-bs-target="#memberModal"
      >
        <i class="fa fa-plus add-new"></i>&nbsp;<b>Add Police Department</b>
      </button>
    </div>
  </div>
</div>
<!-- Header Ends -->

<!-- Search form Starts -->
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <label for="" class="form-label">Name</label>
    <input type="text" class="form-control" placeholder="Search Name" />
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 custom-margin">
    <label for="" class="form-label">Country</label>
    <select class="form-control">
      <option>All</option>
      <option>India</option>
      <option>US</option>
    </select>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 custom-margin">
    <div class="btn-box">  
      <button
          class="px-3 py-2 d-flex justify-content-center align-items-center search-btn  border-0 text-white"
          type="submit" (click)="onSearch()"><i class="fa-solid fa-magnifying-glass"
              aria-hidden="true"></i></button>
      <button
          class="px-3 py-2 d-flex justify-content-center align-items-center reset-btn  border-0 text-white"
          type="submit" (click)="resetSearch()"><i class="fa-solid fa-arrows-rotate"
              aria-hidden="true"></i></button>
    </div>
  </div>
  </div>
    <!-- Search form ends -->

<!-- Table Starts -->
<table-config [tableData]="table_data" />
<!-- Table Ends -->
