<div style="background-color: #f0f0f0">
  <div class="container py-4">
    <div class="text-center">
      <img src="assets/images/policeman.jpg" alt="TrafficPoliceReport" class="img-fluid">
    </div>
    <section class="section">
      <div class="container search-form">
        <div class="row mb-4">
          <div class="col-md-12 d-flex justify-content-between align-items-center">
            <h4 class="mb-0 h-default">Police Departments</h4>
            <a class="btn btn-default d-flex align-items-center" href="#">
              <i class="fa fa-reply mr-2"></i> Back to search
            </a>
          </div>
        </div>
        <div class="row">
          <form class="col-md-12" [formGroup]="policeDepartmentForm" (ngSubmit)="onSubmit()">
            <div class="row align-items-center">
              <div class="col-12 col-md-4 d-flex align-items-center mb-3 mb-md-0">
                <label for="departmentSelect" class="mb-0">Select Your Police Department:</label>
              </div>
              <div class="col-12 col-md-5 mb-3 mb-md-0">
                <select id="departmentSelect" class="form-control" formControlName="police_department_id">
                  <option value="">Department</option>
                  <option *ngFor="let department of departmentList" [value]="department?.department_id">
                    {{ department?.name }}
                  </option>
                </select>
              </div>
              <div class="col-12 col-md-3 d-flex justify-content-center justify-content-md-end">
                <button type="submit" class="btn btn-default">Go!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
