@import 'src/styles.scss';

.btn {
    background-color: $secondary-color;
    color: white;
    border: none;
    padding: 9px;
}

.outer-div {
    background-color: $secondary-color; 
    padding: 9px;
    border-radius: 10px;
    color: white;
    border: none;
  }

  .container {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  }

  .occupants {
    background-color: $third-color;
    border-radius: 5px;
    margin-top: 10px;
  }

  .span {
    color: red;
  }

  .margin-custom {
    margin-bottom: 20px;
  }

  @media (max-width: 425px) { 
    .col-12 {
      justify-content: center !important;
      text-align: center !important;
    }  
  }