@import 'src/styles.scss';

.btn {
    background-color: $secondary-color;
    color: white;
}

.outer-div {
    background-color: $secondary-color; 
    padding: 7px;
    border-radius: 10px;
    color: white;
  }

  .container {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  }

  .occupants {
    background-color: $third-color;
    border-radius: 5px;
    margin-top: 10px;
  }

  .span {
    color: red;
  }