<div class="container">
    <!-- Image Section -->
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="mb-4">
                <img [src]="policeImageUrl" alt="TrafficPoliceReport" class="img-fluid">
            </div>
        </div>
    </div>

    <!-- Action Buttons -->
    <div class="row mb-3">
        <div class="col-md-12 text-right">
            <button class="btn btn-secondary ml-2">
                <i class="fa fa-eye"></i> My Department
            </button>
            <button class="btn btn-secondary ml-2">
                <i class="fa fa-key"></i> Change Password
            </button>
            <button class="btn btn-secondary ml-2" [routerLink]="['/ohio',police_name]">
                <i class="fa fa-sign-out"></i> Logout
            </button>
        </div>
    </div>