.btn {
    max-width: 100%;
    background-color: #1d8d97;
    color: white;
}

.custom-image {
  width: 1535px;
  height: 500px;
}

@media (max-width: 425px) {
    .col-12 {
      justify-content: center !important;
      text-align: center !important;
    }
  }