
<!-- SERVICES -->
<section id="services">
	<div class="container" style="width:90%;">
	<div class="col-md-12  white-form">
		<h3>Add Reports<span class="pull-right"><a href="#/reports" class="btn btn-default"><i class="fa fa-reply"></i> Back to Reports List</a></span></h3>
	<hr/>
	<div class="container">
			  <form class="form-horizontal">
			    <div class="form-group">
			      <label class="control-label col-sm-2">Crash Date:</label>
			      <div class="col-sm-4">
			        <input type="text" class="form-control" ng-model="report.crashDate" placeholder="Enter Crash Date">
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2">Report Number:</label>
			      <div class="col-sm-4">          
			        <input type="text" class="form-control" ng-model="report.reportNumber" placeholder="Enter Report Number">
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2">Location:</label>
			      <div class="col-sm-4">          
			        <input type="text" class="form-control" ng-model="report.location" placeholder="Enter Location">
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2">Upload Report:</label>
			      <div class="col-sm-4">          
			        <input type="file" class="form-control">
			      </div>
				    </div>
				    <hr/>
				    <h4>Occupants List&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-size:14px;" href="" ng-click="addOccupant();">Add One More Occupant</a></h4>
				    <hr/>
			    <div class="form-group" ng-repeat="occupant in report.occupants" ng-if="occupant.isRemoved==0">
			      <label class="control-label col-sm-2">First Name:</label>
			      <div class="col-sm-3">          
			        <input type="text" class="form-control" ng-model="occupant.firstname" placeholder="Enter First Name">
			      </div>
			      <label class="control-label col-sm-2">Last Name:</label>
			      <div class="col-sm-3">          
			        <input type="text" class="form-control" ng-model="occupant.lastname" placeholder="Enter Last Name">
			      </div>
			      <div class="col-sm-2"><a href="" ng-click="occupant.isRemoved=1">Remove</a></div>
			    </div>
			    <hr/>
			    <div class="form-group">        
			      <div class="col-sm-offset-2 col-sm-10">
			        <button type="submit" class="btn btn-send">Submit</button>
			        <button type="submit" class="btn btn-default">Reset</button>
			      </div>
			    </div>
			  </form>
	</div>
	

	</div>
	</div>
</section>
<!-- /SERVICES -->
