<link rel="stylesheet" href="resources/angular/components/datetime/datetimepicker.css"></link>
<script src="resources/angular/components/datetime/datetimepicker.js"></script>
<script src="resources/angular/components/datetime/moment.js"></script>
<!-- SERVICES -->
<section id="services" ng-cloak class="ng-cloak">
	<div class="container" style="width: 90%;">
		<div class="col-md-12  white-form">
			<h3>
				Add Report<span class="pull-right"><a href="#/reports"
					class="btn btn-default"><i class="fa fa-reply"></i> Back to
						Reports List</a></span>
			</h3>
			<hr />
			<div class="container" ng-cloak class="ng-cloak">
			<form name="forms.uploadForm" novalidate>
				<label class="control-label col-md-2">Upload Report:</label>
			      <div class="col-md-4" ng-cloak>          
			        <input type="file" class="form-control" id="crashReportFile" file-model="crashReportFile" valid-file validate-file-type name="crashReportFile" ng-model="crashReportFile" ng-required="!isEdit" ng-change="onChangeFile()" style="height: auto !important;">
			      	<div class="error-container">
						<div ng-show="submitted || forms.uploadForm.crashReportFile.$dirty">
							<span ng-cloak ng-show="forms.uploadForm.crashReportFile.$error.required">Please
								Select Report</span>
								<span ng-cloak ng-show="!forms.uploadForm.crashReportFile.$error.required&&forms.uploadForm.crashReportFile.$error.validateFileType">Please Choose Vaild File</span>
	                            <span ng-cloak ng-show="!forms.uploadForm.crashReportFile.$error.required&&!forms.uploadForm.crashReportFile.$error.validateFileType&&forms.uploadForm.crashReportFile.$error.validateFileSize">File should be less than 10 MB</span>
						</div>
					</div>	
			      </div>
			      <div class="form-group">
						<label class="control-label col-sm-2">Report Type:</label>
						<div class="col-sm-4">
							<input type="radio" ng-model="pageType" value="1" /> Single
							&nbsp;&nbsp; <input type="radio" ng-model="pageType"
								value="2" /> Multiple
						</div>
					</div>
			      </form>
			      </div>
		<div class="container" ng-cloak class="ng-cloak">
		<form name="forms.ReportForm" novalidate>
		<v-accordion id="accordionB" class="vAccordion--default" multiple control="accordionB">

        <v-pane id="{{ ::report.id }}" ng-repeat="report in reports track by $index" expanded="report.isExpanded">
          <v-pane-header id="{{ ::report.id }}-header" aria-controls="{{ ::report.id }}-header">
            <h5>{{ ::report.header }} {{$index+1}} <span class="btn btn-xs btn-danger pull-right" style="margin-right: 25px;!important" ng-click="removeReport($index)" ng-show="reports.length>1"><i class="fa fa-trash"></i> Remove</span></h5>
          </v-pane-header>

          <v-pane-content id="{{ ::report.id }}-content" aria-labelledby="{{ ::report.id }}-content">
            <p>
            <div class="container" ng-cloak class="ng-cloak">
			  <ng-form class="form-horizontal" name="innerForm" novalidate>
			  <div class="form-group from-group-override" ng-show="pageType==2">
			   <!--    <label class="control-label col-sm-2">Pages:</label> -->
			      <label class="control-label col-sm-2">Starting Page:</label>
			       <div class="col-sm-2">
						<input type="text" class="form-control" name="fromPage" ng-model="report.fromPage" ng-required="pageType==2" maxlength="2" validate-number>
						<div class="error-container">
						<div ng-show="submitted || innerForm.fromPage.$dirty">
							<span ng-cloak ng-show="innerForm.fromPage.$error.required">Please
								Enter From Page</span>
							<span ng-cloak ng-show="!innerForm.fromPage.$error.required&&innerForm.fromPage.$error.validateNumber">Please
								Enter Valid Page</span>
						</div>
						</div>	
					</div>
				</div>
			  <div ng-show="pageType==2"><hr/></div>
			  <div class="form-group from-group-override">
			      <label class="control-label col-sm-2">County:</label>
			      <div class="col-sm-4">
			         <select class="form-control" name="county" required ng-model="report.countyId">
			         <option value="">-- Select --</option>
			         <option ng-repeat="county in countyList" value="{{county.countyId}}" ng-selected="county.countyId==report.countyId">{{county.countyId}} - {{county.name}}</option>
			         </select>
			        <div class="error-container">
						<div ng-show="submitted || innerForm.county.$dirty">
							<span ng-cloak ng-show="innerForm.county.$error.required">Please
								Select County</span>
						</div>
					</div>	
			      </div>
			      <label class="control-label col-sm-2">Crash Date:</label>
			      <div class="col-sm-4">
			         <div class="input-group">
					<input type="text" name="crashDate" id="{{'crashDateAdd'+$index}}" class="form-control calender-control"
						ng-model="report.crashDate"
						placeholder="Enter Crash Date" required readonly ng-focus="enableDatePicker('crashDateAdd'+$index)"> 
					<span class="input-group-addon white-color-bg calender-control-span" id="{{'crashDateCalenderAdd'+$index}}" ng-click="enableDatePickerByIcon('crashDateAdd'+$index)"> <span class="fa fa-calendar"></span></span>
					</div>
			        <div class="error-container">
						<div ng-show="submitted || innerForm.crashDate.$dirty">
							<span ng-cloak ng-show="innerForm.crashDate.$error.required">Please
								Enter Crash Date</span>
						</div>
					</div>
			      </div>
			    </div>
			    <div class="form-group from-group-override">
			      <label class="control-label col-sm-2">Report Number:</label>
			      <div class="col-sm-4">          
			        <input type="text" class="form-control" ng-model="report.reportNumber" placeholder="Enter Report Number" name="reportNumber" maxlength="100" required>
			      	 <div class="error-container">
						<div ng-show="submitted || innerForm.reportNumber.$dirty">
							<span ng-cloak ng-show="innerForm.reportNumber.$error.required">Please
								Enter Report Number</span>
						</div>
					</div>	
			      </div>
			      <label class="control-label col-sm-2">Location:</label>
			      <div class="col-sm-4">          
			        <input type="text" class="form-control" ng-model="report.location" placeholder="Enter Location" name="location" maxlength="100">
			         <div class="error-container"></div>	
			      </div>
			    </div>
			    <div class="form-group from-group-override">
			      	<label class="control-label col-sm-2">Crash Severity:</label>
			      <div class="col-sm-4">          
			        <select class="form-control" ng-model="report.crashSeverity" name="crashSeverity">
			        <option value="0">-- Select --</option>
			        <option value="1">1 - FATAL</option>
			        <option value="2">2 - INJURY</option>
			        <option value="3">3 - PDO</option>
			        <option value="4">X - NOT AVAILABLE</option>
			        </select>
			        <div class="error-container"></div>
			      </div>
			    </div>
				   <h4><u>Occupants</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
			    <div class="form-group" data-slide-number="{{$index}}" ng-repeat="occupant in report.occupantsForms track by $index">
			      <ng-form name="occupantsForm">
			      <div class="col-sm-12 form-input-div">
			      <label class="control-label col-sm-3">First Name:</label>
			      <div class="col-sm-3">          
			        <input type="text" class="form-control" ng-model="occupant.firstName" placeholder="Enter First Name" name="firstName" maxlength="50" required validate-name>
			        <div class="error-container">
						<div ng-show="submitted || occupantsForm.firstName.$dirty">
							<span ng-cloak ng-show="occupantsForm.firstName.$error.required">Please
								Enter First Name</span>
								<span ng-cloak ng-show="!occupantsForm.firstName.$error.required && occupantsForm.firstName.$error.validateName">Enter Valid First Name</span>
						</div>
					</div>	
			      </div>
			      <label class="control-label col-sm-3">Last Name:</label>
			      <div class="col-sm-3">          
			        <input type="text" class="form-control" ng-model="occupant.lastName" placeholder="Enter Last Name" name="lastName" maxlength="50" required validate-name>
			        <div class="error-container">
						<div ng-show="submitted || occupantsForm.lastName.$dirty">
							<span ng-cloak ng-show="occupantsForm.lastName.$error.required">Please
								Enter Last Name</span>
							<span ng-cloak ng-show="!occupantsForm.lastName.$error.required && occupantsForm.lastName.$error.validateName">Enter Valid Last Name</span>
						</div>
					</div>	
			      </div>
			      </div>
			      <div class="col-sm-12 form-input-div">
			      <label class="control-label col-sm-3">Address:</label>
			      <div class="col-sm-3">          
			        <input type="text" class="form-control" ng-model="occupant.address" placeholder="Enter Address" name="address" maxlength="200">
			     	<div class="error-container"></div>
			      </div>
			      <label class="control-label col-sm-3">Phone Number:</label>
			      <div class="col-sm-3">          
			        <input type="text" class="form-control" ng-model="occupant.phoneNumber" placeholder="Enter Phone Number eg: (123) 456-7890 or 123-456-7890" name="phoneNumber" maxlength="20" validate-mobile>
			      	<div class="error-container">
			      	<div ng-show="submitted || occupantsForm.phoneNumber.$dirty">
							<span ng-cloak ng-show="!occupantsForm.phoneNumber.$error.required && occupantsForm.phoneNumber.$error.validateMobile">Enter Valid Phone Number</span>
						</div>
			      	</div>
			      </div>
			      </div>
			     <div class="col-sm-12 form-input-div">
			     <!--   <label class="control-label col-sm-3">At-Fault Insurance Company:</label>
			      <div class="col-sm-3">          
			        <input type="text" class="form-control" ng-model="occupant.atFaultInsuranceCompany" placeholder="Enter At-Fault Insurance Company" name="atFaultInsuranceCompany" maxlength="100">
			      	<div class="error-container"></div>
			      </div> -->
			      <label class="control-label col-sm-3">Insurance Company:</label>
			      <div class="col-sm-3">          
			        <input type="text" class="form-control" ng-model="occupant.victimInsuranceCompany" placeholder="Enter Insurance Company" name="victimInsuranceCompany" maxlength="100">
			      	<div class="error-container"></div>
			      </div>
			      <label class="control-label col-sm-3">Injuries:</label>
			      <div class="col-sm-3">          
			         <select class="form-control" ng-model="occupant.injuries" name="injuries" required>
			        <option value="">-- Select --</option>
			        <option value="1">1 - NO INJURY / NONE REPORTED</option>
			        <option value="2">2 - POSSIBLE</option>
			        <option value="3">3 - NON-INCAPACITATING</option>
			        <option value="4">4 - INCAPACITATING</option>
			        <option value="5">5 - FATAL</option>
			        <option value="6">X - NOT AVAILABLE</option>
			        </select>
			     	<div class="error-container">
			     		<div ng-show="submitted || occupantsForm.injuries.$dirty">
			     		<span ng-cloak ng-show="occupantsForm.injuries.$error.required">Please Select Injuries</span>
			     		</div>
			     	</div>
			      </div>
			      </div>
			        <div class="col-sm-12 form-input-div">
			       <label class="control-label col-sm-3">Seating Position:</label>
			      <div class="col-sm-3">          
			       <select class="form-control" ng-model="occupant.seatingPosition" name="seatingPosition" required>
			        <option value="">-- Select --</option>
			        <option value="1">1 -  FRONT - LEFT SIDE (MOTORCYCLE DRIVER)</option>
			        <option value="2">2 - FRONT - MIDDLE</option>
			        <option value="3">3 - FRONT - RIGHT SIDE</option>
			        <option value="4">4 - SECOND - LEFT SIDE (MOTORCYCLE PASSENGER)</option>
			        <option value="5">5 - SECOND - MIDDLE</option>
			        <option value="6">6 - SECOND - RIGHT SIDE</option>
			        <option value="7">7 - THIRD - LEFT SIDE (MOTORCYCLE SIDE CAR)</option>
			        <option value="8">8 - THIRD - MIDDLE</option>
			        <option value="9">9 - THIRD - RIGHT SIDE</option>
			        <option value="10">10 - SLEEPER SECTION OF CAB (TRUCK)</option>
			        <option value="11">11 - PASSENGER IN OTHER ENCLOSED CARGO AREA <br/>(NON-TRAILING UNIT SUCH AS A BUS, PICK-UP WITH CAP)</option>
			        <option value="12">12 - PASSENGER IN UNENCLOSED CARGO AREA</option>
			        <option value="13">13 - TRAILING UNIT</option>
			        <option value="14">14 - RIDING ON VEHICLE EXTERIOR (NON-TRAILING UNIT)</option>
			        <option value="15">15 - NON-MOTORIST</option>
			        <option value="16">16 - OTHER</option>
			        <option value="17">99 - UNKNOWN</option>
			        <option value="18">X - NOT AVAILABLE</option>
			        </select>
			     	<div class="error-container">
			     		<div ng-show="submitted || occupantsForm.seatingPosition.$dirty">
			     		<span ng-cloak ng-show="occupantsForm.seatingPosition.$error.required">Please Select Seating Position</span>
			     		</div>
			     	</div>
			      </div>
			      <div class="col-sm-4"></div>
			      <div class="col-sm-2" ng-show="report.occupantsForms.length>1"><a href="" ng-click="removeOccupant($parent.$index,$index)"><i class="fa fa-trash"></i>&nbsp;&nbsp;Remove</a></div>
			      </div>
			    <!--   <div class="col-sm-12">
			      <div class="col-sm-10"></div>
			      
			     </div> -->
			    </ng-form>
			    </div>
			    <div class="col-md-12"><a style="font-size:14px;" href="" ng-click="addOccupant($index);"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add One More Occupant</a></div>
			  <div class="col-md-12" style="margin-top:10px;" ng-show="pageType==2">
			  <label class="control-label col-sm-2">No. Of Pages:</label>
					<div class="col-sm-2">
						 <select class="form-control" name="toPage" ng-model="report.toPage" ng-required="pageType==2">
						 <option value="">-- Select --</option>
						 <option value="1">1</option>
						 <option value="2">2</option>
						 <option value="3">3</option>
						 <option value="4">4</option>
						 <option value="5">5</option>
						 <option value="6">6</option>
						 <option value="7">7</option>
						 <option value="8">8</option>
						 <option value="9">9</option>
						 <option value="10">10</option>
						 <option value="11">11</option>
						 <option value="12">12</option>
						 <option value="13">13</option>
						 <option value="14">14</option>
						 <option value="15">15</option>
						 <option value="16">16</option>
						 <option value="17">17</option>
						 <option value="18">18</option>
						 <option value="19">19</option>
						 <option value="20">20</option>
						 
						 </select>
						<div class="error-container">
						<div ng-show="submitted || innerForm.toPage.$dirty">
							<span ng-cloak ng-show="innerForm.toPage.$error.required">Please
								Select No. of Pages</span>
						</div>
					</div>
			      </div>
			  </div>
			  <div class="col-md-12"><hr/></div>
			  	<!--  <div class="form-group">  
			  	  <div class="col-sm-offset-2 col-sm-10">
			        <button type="submit" class="btn btn-send" ng-click="submitted=true" ng-disabled="reportSave">{{buttonText}}</button>
			        <a href="#/reports" class="btn btn-default">Cancel</a>
			      </div>
			    </div> -->
			  </ng-form>
	</div>
	
	</p>

          </v-pane-content>
        </v-pane>

      </v-accordion>
      <div class="col-md-12"><a class="btn btn-info" href="" ng-click="addReport();"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add One More Report</a> <hr/></div>
       <div class="form-group">  
			  	  <div class="col-sm-offset-2 col-sm-10">
			        <button type="button" class="btn btn-send" ng-click="submitted=true;saveCrashReportModal()" ng-disabled="reportSave">{{buttonText}}</button>
			        <a href="#/reports" class="btn btn-default">Cancel</a>
			        &nbsp;&nbsp;&nbsp;<span class="error-container" ng-show="isError">{{errorMsg}}</span>
			      </div>
			    </div>
			    </form>
			</div>
		</div>
	</div>
</section>
