<section id="services" ng-cloak class="ng-cloak">
	<div class="container" style="width: 90%;">
		<div class="col-md-12  white-form">
			<h3>
				Change Password<span class="pull-right"><a href="#/reports"
					class="btn btn-default"><i class="fa fa-reply"></i> Back to
						Reports List</a></span>
						<div flash-message="2000" class="col-md-5 pull-right"></div>
			</h3>
			<hr />
			<div class="container" ng-cloak class="ng-cloak">
			<form name="changePasswordForm" novalidate ng-submit="changePasswordForm.$valid && changePassword()">
				 <div class="col-md-12 form-group">
			      <label class="control-label col-md-3">Current Password:</label>
			      <div class="col-md-4">          
			        <input type="password" class="form-control" ng-model="currentPassword" placeholder="Enter Current Password" name="currentPassword" maxlength="45" required check-password>
			      	 <div class="error-container">
						<div ng-show="submitted || changePasswordForm.currentPassword.$dirty">
							<span ng-cloak ng-show="changePasswordForm.currentPassword.$error.required">Please
								Enter Current Password</span>
							<span ng-cloak ng-show="!changePasswordForm.currentPassword.$error.required&&changePasswordForm.currentPassword.$error.checkPassword">Invalid Current Password</span>
						</div>
					</div>	
			      </div>
			    </div>
			     <div class="col-md-12 form-group">
			      <label class="control-label col-md-3">New Password:</label>
			      <div class="col-md-4">          
			        <input type="password" class="form-control" ng-model="newPassword" placeholder="Enter New Password" name="newPassword" maxlength="45" required>
			      	 <div class="error-container">
						<div ng-show="submitted || changePasswordForm.newPassword.$dirty">
							<span ng-cloak ng-show="changePasswordForm.newPassword.$error.required">Please
								Enter New Password</span>
						</div>
					</div>	
			      </div>
			    </div>
			     <div class="col-md-12 form-group">
			      <label class="control-label col-md-3">Confirm New Password:</label>
			      <div class="col-md-4">          
			        <input type="password" class="form-control" ng-model="confirmNewPassword" placeholder="Enter Confirm New Password" name="confirmNewPassword" maxlength="45" ng-pattern="newPassword" required>
			      	 <div class="error-container">
						<div ng-show="submitted || changePasswordForm.confirmNewPassword.$dirty">
							<span ng-cloak ng-show="changePasswordForm.confirmNewPassword.$error.required">Please
								Enter Confirm Password</span>
							<span ng-cloak ng-show="changePasswordForm.confirmNewPassword.$error.pattern">Password does not match</span>
						</div>
					</div>	
			      </div>
			    </div>
			    <div class="form-group">  
			  	  <div class="col-sm-offset-2 col-sm-10">
			        <button type="submit" class="btn btn-send" ng-click="submitted=true">Change</button>
			        <a href="#/reports" class="btn btn-default">Cancel</a>
			      </div>
			    </div>
			    </form>
			</div>
		</div>
	</div>
</section>