

<div class="admin-main-content">
	<div class="margin-top-20">
	    <div class="col-md-4">
	        <a href="#jobManagement-jobList">
	            <div class="dashboard blue-back">
	                <div class="col-md-7">
	                    <i class="fa fa-5x fa-suitcase"></i>
	                </div>
	                <div class="col-md-5"><h2>{{jobCount}}</h2></div>
	                <div class="col-md-12"><h4 class="glass-back">Jobs</h4></div>
	            </div>
	        </a>
	    </div>

	    <div class="col-md-4">
	        <a href="#employers-List">
	            <div class="dashboard yellow-back">
	                <div class="col-md-7">
	                    <i class="fa fa-5x fa-user"></i>
	                </div>
	                <div class="col-md-5"><h2>{{employerCount}}</h2></div>
	                <div class="col-md-12"><h4 class="glass-back">Employers</h4></div>
	            </div>
	        </a>
	    </div>
	
	    <div class="col-md-4">
	        <a href="#jobSeekers-List">
	            <div class="dashboard greenist-back">
	                <div class="col-md-7">
	                    <i class="fa fa-5x fa-users"></i>
	                </div>
	                <div class="col-md-5"><h2>{{jobSeekerCount}}</h2></div>
	                <div class="col-md-12"><h4 class="glass-back">Job Seekers</h4></div>
	            </div>
	        </a>
	    </div>
	
	</div>
</div>
