<link rel="stylesheet" href="resources/angular/components/datetime/datetimepicker.css"></link>
<script src="resources/angular/components/datetime/datetimepicker.js"></script>
<script src="resources/angular/components/datetime/moment.js"></script>
<section id="services">
	<div class="container" style="width:90%;">
		<div class="col-md-12 white-form">
		<div class="col-md-12">
		<h3>Reports <a href="#/add-report" class="btn btn-send pull-right"><i class="fa fa-plus fa-fw"></i> Add New Report</a><div flash-message="2000" class="col-md-5 pull-right"></div></h3>
		<hr/>
		</div>
		<div class="col-md-12 search-block">
		<form>
			  <div class="form-group col-md-3">
			    <label for="carshDate">Crash Date:</label>
			    <div class="input-group">
					<input type="text" name="crashDate" id="crashDateReportList" class="form-control calender-control"
						ng-model="crashReportSearchForm.crashDate"
						placeholder="Crash Date"> 
					<span class="input-group-addon white-color-bg calender-control-span" id="crashDateCalenderReportList"> <span class="fa fa-calendar"></span></span>
					</div>
			  </div>
			  <div class="form-group col-md-3">
			    <label for="reportNumber">Report Number:</label>
			    <input type="text" class="form-control" id="reportNumber" ng-model="crashReportSearchForm.reportNumber" placeholder="Report Number" maxlength="100">
			  </div>
			  <div class="form-group col-md-3">
			    <label for="carshDate">First Name:</label>
			    <input type="text" class="form-control" id="firstName" ng-model="crashReportSearchForm.firstName" placeholder="First Name" maxlength="50">
			  </div>
			  <div class="form-group col-md-3">
			    <label for="reportNumber">Last Name:</label>
			    <input type="text" class="form-control" id="lastName" ng-model="crashReportSearchForm.lastName" placeholder="Last Name" maxlength="50">
			  </div>
			  <div class="form-group col-md-3">
			    <label for="addedOnFromDate">Added On From Date:</label>
			    <div class="input-group">
					<input type="text" name="addedOnFromDate" id="addedOnFromDate" class="form-control calender-control"
						ng-model="crashReportSearchForm.addedOnFromDate"
						placeholder="From Date"> 
					<span class="input-group-addon white-color-bg calender-control-span" id="addedOnFromDateCalender"> <span class="fa fa-calendar"></span></span>
					</div>
			   </div>
			   <div class="form-group col-md-3">
			    <label for="addedOnFromDate">Added On To Date:</label>
			    <div class="input-group">
					<input type="text" name="addedOnToDate" id="addedOnToDate" class="form-control calender-control"
						ng-model="crashReportSearchForm.addedOnToDate"
						placeholder="To Date"> 
					<span class="input-group-addon white-color-bg calender-control-span" id="addedOnToDateCalender"> <span class="fa fa-calendar"></span></span>
					</div>
			   </div>
			  <div class="form-group col-md-3">
			    <button type="button" class="btn btn-send" style="margin-top:32px;" ng-click="getCrashReportsList()">Search</button>
			    <button type="button" class="btn btn-default" style="margin-top:32px;" ng-click="resetSearch()">Reset</button>
			  </div>
		</form>
		</div>
		<div class="col-md-12 no-padding">
		<div class="col-md-6"></div>
		<!-- <div class="col-md-6 menu-radio">
		<label class="btn btn-default" ng-class="{'active':crashReportSearchForm.reportType==1}">
      			<input name="reportType" id="myReport" value="1" class="active" type="radio" data-ng-model="crashReportSearchForm.reportType" ng-change="secondarySearch();"/><span>Uploaded</span>
    	</label>
    	<label class="btn btn-default" ng-class="{'active':crashReportSearchForm.reportType==2}">
      			<input name="reportType" id="pendingReport" value="2" class="active" type="radio" data-ng-model="crashReportSearchForm.reportType" ng-change="secondarySearch();"/><span>Pending</span>
    	</label>
		</div> -->
		<div class="col-md-6 pull-right">
		<div class="col-md-7 text-right"><a class="btn btn-warning btn-sm" ng-click="sendToVerificationModal(0,'');" ng-disabled="isDisableSendButton"><i class="fa fa-paper-plane fa-fw"></i> Send To Verification</a></div>
		<div class="col-md-2 text-right">Status</div>
		<div class="col-md-3 text-right">
		<select class="form-control input-sm" ng-change="secondarySearch();" name="verifiedStatus" ng-model="crashReportSearchForm.verifiedStatus">
				          	<option value="4">All</option>
				          	<option value="0">New</option>
				          	<option value="1">Pending</option>
				          	<option value="2">Verified</option>
				          	<option value="3">Rejected</option>
				     	</select>
		</div>
		</div>
		</div>
	 <ul class="nav nav-tabs">
	  <li ng-class="{'active':crashReportSearchForm.reportType==1}"><a data-toggle="tab" href="" ng-click="crashReportSearchForm.reportType=1;secondarySearch();">Uploaded <i class="fa fa-file fa-fw"></i></a></li>
	  <li ng-class="{'active':crashReportSearchForm.reportType==2}"><a data-toggle="tab" href="" ng-click="crashReportSearchForm.reportType=2;secondarySearch();">Pending <i class="fa fa-file fa-fw"></i></a></li>
	</ul>

		<table class="table table-bordered" style="margin-top:15px;" ng-cloak>
		        <thead>
		            <tr class="report-table-header">
		            	<th><input type="checkbox" ng-model="isCheckedAllReports" id="checkAllReports" ng-change="checkAllReports()" ng-disabled="crashReportSearchForm.reportType==2"></th>
		                <th colspan="3">First Name</th>
		                <th colspan="3">Last Name</th>
		                <th>Action</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat-start="resultData in crashReportsResultList.crashReportsResult" class="report-header">
		            	<td width="2%"><span ng-show="crashReportSearchForm.reportType==1"><input type="checkbox" ng-model="resultData.selected" ng-change="isCheckedIndividual()" ng-disabled="resultData.verifiedStatus==2||resultData.verifiedStatus==1"></span><span ng-show="crashReportSearchForm.reportType==2"><input type="checkbox" ng-model="resultData.selected" ng-disabled="true"></span></td>
		            	<td width="12%"><label>Crash Date:</label><br/>{{resultData.crashDate}}</td>
		            	<td width="16%"><label>Report Number:</label><br/>{{resultData.reportNumber}}</td>
		            	<td width="12%"><label>Added Date:</label><br/>{{resultData.addedDate}}</td>
		            	<td width="16%"><label>Last Verification:</label><br/>{{resultData.lastVerifiedDateTime}}</td>
		            	<td width="12%"><label>Status:</label><br/><span class="label-primary" ng-show="resultData.verifiedStatus==0">New</span><span class="label-warning" ng-show="resultData.verifiedStatus==1">Pending</span><span class="label-success" ng-show="resultData.verifiedStatus==2">Verified</span><span class="label-danger" ng-show="resultData.verifiedStatus==3">Rejected</span></td>
		            	<td width="12%"><label>No. of Occ.:</label><br/>{{resultData.noOfOccupants}}</td>
		            	<td width="18%">
		            	<span ng-show="crashReportSearchForm.reportType==1"><span ng-show="resultData.verifiedStatus!=2 && resultData.verifiedStatus!=1"><a href="#/edit-report/{{resultData.reportId}}/{{crashReportSearchForm.reportType}}" class="btn btn-warning btn-xs hint--top" data-hint="Edit"><i class="fa fa-pencil fa-fw"></i></a>&nbsp;|&nbsp; <a href="" ng-click="deleteReportModal(resultData.reportId)" class="btn btn-danger btn-xs hint--top" data-hint="Delete"><i class="fa fa-trash fa-fw"></i></a>&nbsp;|&nbsp;</span> <span ng-show="resultData.verifiedStatus!=2 && resultData.verifiedStatus!=1"><a href="" class="btn btn-success btn-xs hint--top" data-hint="Send To Verification" ng-click="sendToVerificationModal(1,resultData.reportId);"><i class="fa fa-paper-plane fa-fw"></i></a>&nbsp;|&nbsp;</span></span>
		            	<span ng-show="crashReportSearchForm.reportType==2"><span ng-show="resultData.verifiedStatus==1"><a href="#/edit-report/{{resultData.reportId}}/{{crashReportSearchForm.reportType}}" class="btn btn-warning btn-xs hint--top" data-hint="Open to Verify"><i class="fa fa-pencil fa-fw"></i></a>&nbsp;|</span></span>
		            	<a href="{{resultData.fileName}}" target="_blank" style="color:#fff;" class="btn btn-info btn-xs hint--top" data-hint="View Report"><i class="fa fa-file fa-fw"></i></a> |
		            	<a href="" style="color:#fff;" class="btn btn-primary btn-xs hint--top" data-hint="View Logs" ng-click="viewLogs(resultData.reportId);"><i class="fa fa-eye fa-fw"></i></a>
		            	</td>
		            </tr>
		            <tr dir-paginate="occupants in resultData.occupantsForms|itemsPerPage:crashReportSearchForm.itemsPerPage" current-page="crashReportSearchForm.pageNumber" total-items="totalRecords">
		            	<td colspan="4">{{occupants.firstName}}</td>
		                <td colspan="4">{{occupants.lastName}}</td>
		            </tr>
		            <tr ng-repeat-end=""></tr>
		           	<tr ng-show="totalRecords==0">
							<td colspan="8"><center>
							<strong>No Records Found!!!</strong>
						</center></td>
						</tr>
		        </tbody>
		    </table>
		    <dir-pagination-controls ng-show="totalRecords>0" max-size="5" direction-links="true" boundary-links="true" >
    					</dir-pagination-controls>
    		<div class="col-md-3 pull-right no-padding">
						<label>Number of Records</label> <select
							class="form-control input-sm option-bold"
							ng-model="crashReportSearchForm.itemsPerPage" name="noOfRows" ng-change="itemsPerPageFilterChange()"
							id="noOfRows">
							<option value="10">Show 10 Per Page</option>
							<option value="25">Show 25 Per Page</option>
							<option value="50">Show 50 Per Page</option>
							<option value="100">Show 100 Per Page</option>
							<option value="250">Show 250 Per Page</option>
						</select>
				</div>
				
		</div>
	</div>
</section>
<!-- Delete Rport Confirmation Modal -->
<div class="modal fade" id="deleteReportModal" role="dialog" data-backdrop="static" data-keyboard=false>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Confirmation</h4>
			</div>
			<div class="modal-body">
				Do you want to delete the report?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" ng-click="deleteReport()" ng-disabled="isDeleting">{{deleteText}}</button>
				<button type="close" class="btn btn-danger" data-dismiss="modal" ng-disabled="isDeleting">No</button>
			</div>
		</div>
	</div>
</div>
<!-- Send To Verification Confirmation Modal -->
<div class="modal fade" id="sendToVerificationModal" role="dialog" data-backdrop="static" data-keyboard=false>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Confirmation</h4>
			</div>
			<div class="modal-body">
				Do you want to send to verification?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" ng-click="sendToVerification()">Yes</button>
				<button type="close" class="btn btn-danger" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<!-- View Logs List Modal -->
<div class="modal fade" id="viewLogsListModal" role="dialog" data-backdrop="static" data-keyboard=false>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">View Logs</h4>
			</div>
			<div class="modal-body">
				<table class="table table-bordered">
				<thead>
				<tr class="report-table-header"><th width="15%">Log By</th><th width="60%">Notes</th><th width="15%">Date & Time</th><th width="10%">Status</th></tr>
				</thead>
				<tbody>
				<tr ng-repeat="verificationLog in verificationLogList">
				<td>{{verificationLog.verifiedUserFullname}}</td>
				<td>{{verificationLog.verifiedNotes}}</td>
				<td>{{verificationLog.verifiedDateTime}}</td>
				<td>
				<span class="label-primary" ng-show="verificationLog.verifiedStatus==0">New</span><span class="label-warning" ng-show="verificationLog.verifiedStatus==1">Pending</span><span class="label-success" ng-show="verificationLog.verifiedStatus==2">Verified</span><span class="label-danger" ng-show="verificationLog.verifiedStatus==3">Rejected</span>
				</td>
				</tr>
				<tr ng-show="verificationLogList.length==0">
				<td colspan="4"><center><strong>No Logs Found!!!</strong></center></td>
				</tr>
				</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="close" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<script>
$('#crashDateReportList').datetimepicker({
	pickTime : false,
	format:'MM/DD/YYYY',
});
$("#crashDateCalenderReportList").click(function(){
	$('#crashDateReportList').focus();
});

$('#addedOnFromDate').datetimepicker({
	pickTime : false,
	format:'MM/DD/YYYY',
});
$("#addedOnFromDateCalender").click(function(){
	$('#addedOnFromDate').focus();
});

$('#addedOnToDate').datetimepicker({
	pickTime : false,
	format:'MM/DD/YYYY',
});
$("#addedOnToDateCalender").click(function(){
	$('#addedOnToDate').focus();
});
</script>