<section id="services">
	<div class="container" style="width:90%;">
		<div class="col-md-12  white-form">
		<h3>Reports List<a href="#/add-report" class="btn btn-send pull-right">Add New Report</a></h3>
		<hr/>
		<div class="col-md-12 search-block">
		<form>
			  <div class="form-group col-md-2">
			    <label for="carshDate">Crash Date:</label>
			    <input type="text" class="form-control" id="carshDate">
			  </div>
			  <div class="form-group col-md-2">
			    <label for="reportNumber">Report Number:</label>
			    <input type="text" class="form-control" id="reportNumber">
			  </div>
			  <div class="form-group col-md-2">
			    <label for="carshDate">Crash Date:</label>
			    <input type="text" class="form-control" id="carshDate">
			  </div>
			  <div class="form-group col-md-2">
			    <label for="reportNumber">Report Number:</label>
			    <input type="text" class="form-control" id="reportNumber">
			  </div>
			  <div class="form-group col-md-2">
			    <label for="carshDate">Crash Date:</label>
			    <input type="text" class="form-control" id="carshDate">
			  </div>
			  <div class="form-group col-md-2">
			    <button type="submit" class="btn btn-send" style="margin-top:32px;">Search</button>
			    <button type="submit" class="btn btn-default" style="margin-top:32px;">Reset</button>
			  </div>
		</form>
		</div>
		<table class="table table-bordered table-striped">
		        <thead>
		            <tr>
		            	<th>Crash Date</th>
		                <th>Report Number #</th>
		                <th>First Name</th>
		                <th>Last Name</th>
		                <th>Location</th>
		                <th>Action</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr>
		            	<td>02/10/2017</td>
		                <td>1</td>
		                <td>John</td>
		                <td>Carter</td>
		                <td>johncarter@mail.com</td>
		                <td><a href="">Edit</a>&nbsp;|&nbsp;<a href="">Delete</a></td>
		            </tr>
		            <tr>
		            	<td>02/10/2017</td>
		                <td>2</td>
		                <td>Peter</td>
		                <td>Parker</td>
		                <td>peterparker@mail.com</td>
		                <td><a href="">Edit</a>&nbsp;|&nbsp;<a href="">Delete</a></td>
		            </tr>
		            <tr>
		            	<td>02/10/2017</td>
		                <td>3</td>
		                <td>John</td>
		                <td>Rambo</td>
		                <td>johnrambo@mail.com</td>
		                <td><a href="">Edit</a>&nbsp;|&nbsp;<a href="">Delete</a></td>
		            </tr>
		            <tr>
		            	<td>02/10/2017</td>
		                <td>4</td>
		                <td>John</td>
		                <td>Carter</td>
		                <td>johncarter@mail.com</td>
		                <td><a href="">Edit</a>&nbsp;|&nbsp;<a href="">Delete</a></td>
		            </tr>
		            <tr>
		            	<td>02/10/2017</td>
		                <td>5</td>
		                <td>Peter</td>
		                <td>Parker</td>
		                <td>peterparker@mail.com</td>
		                <td><a href="">Edit</a>&nbsp;|&nbsp;<a href="">Delete</a></td>
		            </tr>
		            <tr>
		            	<td>02/10/2017</td>
		                <td>6</td>
		                <td>John</td>
		                <td>Rambo</td>
		                <td>johnrambo@mail.com</td>
		                <td><a href="">Edit</a>&nbsp;|&nbsp;<a href="">Delete</a></td>
		            </tr>
		            <tr>
		            	<td>02/10/2017</td>
		                <td>1</td>
		                <td>John</td>
		                <td>Carter</td>
		                <td>johncarter@mail.com</td>
		                <td><a href="">Edit</a>&nbsp;|&nbsp;<a href="">Delete</a></td>
		            </tr>
		            <tr>
		            	<td>02/10/2017</td>
		                <td>2</td>
		                <td>Peter</td>
		                <td>Parker</td>
		                <td>peterparker@mail.com</td>
		                <td><a href="">Edit</a>&nbsp;|&nbsp;<a href="">Delete</a></td>
		            </tr>
		            <tr>
		            	<td>02/10/2017</td>
		              	<td>3</td>
		                <td>John</td>
		                <td>Rambo</td>
		                <td>johnrambo@mail.com</td>
		                <td><a href="">Edit</a>&nbsp;|&nbsp;<a href="">Delete</a></td>
		            </tr>
		            <tr>
		            	<td>02/10/2017</td>
		                <td>4</td>
		                <td>John</td>
		                <td>Carter</td>
		                <td>johncarter@mail.com</td>
		                <td><a href="">Edit</a>&nbsp;|&nbsp;<a href="">Delete</a></td>
		            </tr>
		            <tr>
		            	<td>02/10/2017</td>		                
		                <td>5</td>
		                <td>Peter</td>
		                <td>Parker</td>
		                <td>peterparker@mail.com</td>
		                <td><a href="">Edit</a>&nbsp;|&nbsp;<a href="">Delete</a></td>
		            </tr>
		            <tr>
		            	<td>02/10/2017</td>		                
		                <td>6</td>
		                <td>John</td>
		                <td>Rambo</td>
		                <td>johnrambo@mail.com</td>
		                <td><a href="">Edit</a>&nbsp;|&nbsp;<a href="">Delete</a></td>
		            </tr>
		        </tbody>
		    </table>
		    <ul class="pagination">
			  <li><a href="#">1</a></li>
			  <li class="active"><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			</ul>
		</div>
	</div>
</section>