<section id="services" ng-cloak class="ng-cloak">
<div class="container" style="width:90%">

<div class="col-md-12  white-form">

<h3>My Department<span class="pull-right">
<a href="#/reports" class="btn btn-default pull-right">
<i class="fa fa-reply"></i> Back to Report</a></h3>
<hr>

<table  width="100"  class="table table-bordered" >

<tr>
<td><label>County</label></td>
<td>{{result.countyName}}</td>

</tr>

<tr>
<td><label>Name</label></td>
<td>{{result.name}}</td>
</tr>


<tr>
<td><label>Code</label></td>
<td>{{result.code}}</td>
</tr>

<tr>
<td><label>Login Link</label>
<td><a href="{{result.loginLink}}">{{result.loginLink}}</a></td>
</tr>

<tr>
<td><label>Search Link</label>
<td><a href="{{result.searchLink}}">{{result.searchLink}}</a></td>
</tr>

</table>
</div>


</div>
</section>