@import 'src/styles.scss';

.login-container {
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.heading {
    color: #316c71;
}

.form-floating {
    max-width: 400px;
    /* Adjust as needed */
}

.btn {
    max-width: 100%;
    /* Ensure button fits the container */
    background-color: #1d8d97;
    color: white;
}

.container {
    max-width: 1450px;
}

.report-table-header {
    background-color: $third-color;
    color: $primary-color;
}

.report-header {
    background-color: #9fc1c173;
    color: $primary-color;
}

.label-color {
    color: black;
    font-weight: 500;
}

.view-btn {
    font-size: 10px;
    color: white;
    padding: 7px;
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;
    background-color: #3450cf;
}

.info-btn {
    font-size: 12px;
    color: white;
    padding: 7px;
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;
    background-color: #f0ad4e;
}

.edit-btn {
    font-size: 10px;
    color: white;
    padding: 7px;
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;
    background-color: #1b688b;
}

.delete-btn {
    font-size: 10px;
    color: white;
    padding: 7px;
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;
    background-color: rgb(233 13 13);
}

.warn {
    color: red;
    font-family: Roboto;
    font-weight: 500;
    text-align: center;
}

// Pagination CSS Starts
.numberListContainer {
    list-style: none;
    display: flex;
    justify-content: center;
}

li.numberList {
    padding: 0px 10px;
    border: 1px solid #9fc1c1;
    margin: 5px;
    color: #316c71;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}

li.numberList:hover {
    background: #9fc1c1;
    color: white;
    border: 1px solid #9fc1c1;
}

.active {
    background-color: #1d8d97 !important;
    color: white !important;
    border: #1d8d97 !important;
}

.searchPage {
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 5px;
    height: 36px;
}

.searchPage::placeholder {
    padding-left: 10px;
}

.searchPage:focus-visible {
    border: 1px solid #9fc1c1;
    outline: none !important;
}

.pageStatus {
    display: flex;
    justify-content: center;
    align-items: center;
}

//Pagination CSS Ends
//Button CSS Starts
.goBtn {
    background-color: #1d8d97;
    color: white;
    border-radius: 0px 5px 5px 0px;
    border: #1d8d97;
}

.goBtn:hover {
    color: white;
}

//Button CSS Ends

.nav-tabs {
    cursor: pointer;
}

.nav-tabs .nav-link {
    color: black;
}

.highlighted-header {
    padding: 5px; 
    font-size: 2rem; 
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  
  .outer-div {
    background-color: #58a4aa; 
    padding: 15px;
    border-radius: 15px;
    padding-bottom: 30px;
  }

  .occupants {
    text-decoration: underline;
  }