.form-group {
    margin-bottom: 15px;
}

.btn {
    border-color: gray;
}

.btn-change {    
    background-color: gray;
    color: white;
}

.outer-div {
    background-color: #58a4aa;
    color: #fff;
    border: none;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
}