<div style="background-color: #f0f0f0">
    <app-police-department-header/>

  <!-- View Deparment -->   
  <div class="container outer-div">
    <div class="row">
        <div class="col-md-9">
            <h3 class="mb-4 highlighted-header">Change Password</h3>
        </div>
        <div class="col-md-3 text-md-right">
            <button class="btn" (click)="backToReportList()">
                <i class="fa fa-reply"></i> Back to Reports list
            </button>
        </div>
    </div>

    <div class="form">
        <form [formGroup]="changePasswordForm" class="row">
        <div class="row">
          <div class="col-lg-3"></div>
            <div class="col-lg-2 col-md-6">
                <label><strong>Current Password</strong></label><span class="span"> *</span>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-12 mt-3">
                <input type="password" class="form-control" formControlName="current_password" placeholder="Enter Current Password" />
               <!-- Validation Error Message -->
               <div class="error-msg-area">
                <div
                  *ngIf="
                   changePasswordForm.controls['current_password']?.errors &&
                   (changePasswordForm.controls['current_password']?.touched || isPasswordChanged)
                  "
                     class="error-msg"
                >
                  <div [hidden]="!changePasswordForm.controls['current_password']?.errors?.['required']" class="text-danger">
                    Current Password is required.
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-3"></div>
            <div class="col-lg-2 col-md-6">
                <label><strong>New Password</strong></label><span class="span"> *</span>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-12 mt-3">
              <input type="password" class="form-control" formControlName="new_password" placeholder="Enter New Password" />
                 <!-- Validation Error Message -->
               <div class="error-msg-area">
                <div
                  *ngIf="
                   changePasswordForm.controls['new_password']?.errors &&
                   (changePasswordForm.controls['new_password']?.touched || isPasswordChanged)
                  "
                     class="error-msg"
                >
                  <div [hidden]="!changePasswordForm.controls['new_password']?.errors?.['required']" class="text-danger">
                    New Password is required.
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-3"></div>
            <div class="col-lg-2 col-md-6">
                <label><strong>Confirm New Password</strong></label><span class="span"> *</span>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-12 mt-3">
              <input type="password" class="form-control" formControlName="confirm_new_password" placeholder="Enter Confirm New Password" />
                 <!-- Validation Error Message -->
               <div class="error-msg-area">
                <div
                  *ngIf="
                   changePasswordForm.controls['confirm_new_password']?.errors &&
                   (changePasswordForm.controls['confirm_new_password']?.touched || isPasswordChanged)
                  "
                     class="error-msg"
                >
                  <div [hidden]="!changePasswordForm.controls['confirm_new_password']?.errors?.['required']" class="text-danger">
                    Confirm New Password is required.
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-5 col-md-5 col-12"></div>
            <div class="col-lg-6 col-md-6 col-12">
              <button type="button" class="btn" (click)="cancel()">Cancel</button>
              <button type="button" class="btn btn-change ml-2" (click)="changePassword()">Change</button>
            </div>
        </div>
    </form>
    </div>
</div>
<br><br>
</div>