// Define primary and secondary colors
$primary-color: #243449;
$secondary-color: #1d8d97;
$third-color: #b0f1f1;


/* heading starts */
.heading {
    margin: 0%;
    font-size: 25px;
    font-weight: 500;
  }
  /* heading ends */

  /* Header styles starts */
  .custom-row {
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-style: outset;
  }
  
  .custom-row .custom-icon {
    margin-right: 8px;
    color: #316c71;
    font-weight: 600;
    font-size: xx-large;
  }
  
  .custom-row .headerStyle {
    font-weight: 600;
    font-size: xx-large;
    color: #316c71;
  }
  /* Header styles ends */
