// Define primary and secondary colors
$primary-color: #243449;
$secondary-color: #1d8d97;
$third-color: #9fc1c1;


/* Header styles starts */
.custom-row {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: outset;
}

.custom-row .custom-icon {
  margin-right: 8px;
  color: #316c71;
  font-weight: 600;
  font-size: xx-large;
}

.custom-row .headerStyle {
  font-weight: 600;
  font-size: xx-large;
  color: #316c71;
}
/* Header styles ends */

/*Card Body Styles starts */
.card-body {
  padding: 50px 0;
}
/*Card Body Styles ends */

/*Common Button Styles Starts */
.common-btn-color {
  background-color: $secondary-color;
  color: white;
}

.common-btn-color2{
  background-color: $primary-color;
  color: white;
}

.common-btn-color:active {
  background-color: darken($secondary-color, 10%);
  color: lighten(white, 10%);
}

.search-btn {
  background-color: $secondary-color;
  right: 135px;
  margin-top: 7% !important;
  width: 3%;
  font-size: 12px;
  border-radius: 4px;
}
.reset-btn {
  background-color: $primary-color;
  margin-top: 7% !important;
  left: 90%;
  width: 3%;
  font-size: 12px;
  border-radius: 4px;
}
/*Common Button Styles Ends */

/* Form Styles starts*/
.row{
  display: flex !important;
  align-items: center !important;
  padding: 0px 15px;
}
.input-col{
  width: max-content;
}
.custom-margin {
  margin-bottom: 10px;
}
.form-control{
  border-color: #9ec1c1;
}
.form-control:focus{
  box-shadow: 0 0 0 .25rem rgb(158 193 193 / 43%);
}
.input-group-text{
  background-color: $third-color;
}
.input-box{
  display: flex;
  width: 100%;
}
.form-label {
  font-weight: 600;
}
.btn-box{
  display: flex;
  gap: 10px;
}

.error-msg-area {
  min-height: 20px;
}
.error-msg {
  font-size: 15px;
  color: red;
  min-height: 12px;
}

/* Form Styles ends*/

/* modal */
.modal-header {
  background-color: #2a8dae;
  color: #fff !important;
  justify-content: space-between !important;
}

.close {
  background-color: #2a8dae;
  font-weight: 900;
  border: none !important;
  font-size: 25px;
  color: white;
}

/* modal end */

/* Media query for header starts */
@media screen and (max-width: 425px) {
  .custom-row .custom-icon,
  .custom-row .headerStyle {
    font-size: x-large;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .custom-row .custom-icon,
  .custom-row .headerStyle {
    font-size: 15px;
  }
  .btn {
    font-size: 12px;
  }
  .add-new {
    font-size: 15px;
  }
}
/* Media query for header ends */

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
 .la-ball-newton-cradle,
 .la-ball-newton-cradle > div {
     position: relative;
     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
 }
 .la-ball-newton-cradle {
     display: block;
     font-size: 0;
     color: #fff;
 }
 .la-ball-newton-cradle.la-dark {
     color: #333;
 }
 .la-ball-newton-cradle > div {
     display: inline-block;
     float: none;
     background-color: currentColor;
     border: 0 solid currentColor;
 }
 .la-ball-newton-cradle {
     width: 40px;
     height: 10px;
 }
 .la-ball-newton-cradle > div {
     width: 10px;
     height: 10px;
     border-radius: 100%;
 }
 .la-ball-newton-cradle > div:first-child {
     -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
         -ms-transform: translateX(0%);
          -o-transform: translateX(0%);
             transform: translateX(0%);
     -webkit-animation: ball-newton-cradle-left 1s 0s ease-out infinite;
        -moz-animation: ball-newton-cradle-left 1s 0s ease-out infinite;
          -o-animation: ball-newton-cradle-left 1s 0s ease-out infinite;
             animation: ball-newton-cradle-left 1s 0s ease-out infinite;
 }
 .la-ball-newton-cradle > div:last-child {
     -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
         -ms-transform: translateX(0%);
          -o-transform: translateX(0%);
             transform: translateX(0%);
     -webkit-animation: ball-newton-cradle-right 1s 0s ease-out infinite;
        -moz-animation: ball-newton-cradle-right 1s 0s ease-out infinite;
          -o-animation: ball-newton-cradle-right 1s 0s ease-out infinite;
             animation: ball-newton-cradle-right 1s 0s ease-out infinite;
 }
 .la-ball-newton-cradle.la-sm {
     width: 20px;
     height: 4px;
 }
 .la-ball-newton-cradle.la-sm > div {
     width: 4px;
     height: 4px;
 }
 .la-ball-newton-cradle.la-2x {
     width: 80px;
     height: 20px;
 }
 .la-ball-newton-cradle.la-2x > div {
     width: 20px;
     height: 20px;
 }
 .la-ball-newton-cradle.la-3x {
     width: 120px;
     height: 30px;
 }
 .la-ball-newton-cradle.la-3x > div {
     width: 30px;
     height: 30px;
 }
 /*
  * Animations
  */
 @-webkit-keyframes ball-newton-cradle-left {
     25% {
         -webkit-transform: translateX(-100%);
                 transform: translateX(-100%);
         -webkit-animation-timing-function: ease-in;
                 animation-timing-function: ease-in;
     }
     50% {
         -webkit-transform: translateX(0%);
                 transform: translateX(0%);
     }
 }
 @-moz-keyframes ball-newton-cradle-left {
     25% {
         -moz-transform: translateX(-100%);
              transform: translateX(-100%);
         -moz-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
     }
     50% {
         -moz-transform: translateX(0%);
              transform: translateX(0%);
     }
 }
 @-o-keyframes ball-newton-cradle-left {
     25% {
         -o-transform: translateX(-100%);
            transform: translateX(-100%);
         -o-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
     }
     50% {
         -o-transform: translateX(0%);
            transform: translateX(0%);
     }
 }
 @keyframes ball-newton-cradle-left {
     25% {
         -webkit-transform: translateX(-100%);
            -moz-transform: translateX(-100%);
              -o-transform: translateX(-100%);
                 transform: translateX(-100%);
         -webkit-animation-timing-function: ease-in;
            -moz-animation-timing-function: ease-in;
              -o-animation-timing-function: ease-in;
                 animation-timing-function: ease-in;
     }
     50% {
         -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
              -o-transform: translateX(0%);
                 transform: translateX(0%);
     }
 }
 @-webkit-keyframes ball-newton-cradle-right {
     50% {
         -webkit-transform: translateX(0%);
                 transform: translateX(0%);
     }
     75% {
         -webkit-transform: translateX(100%);
                 transform: translateX(100%);
         -webkit-animation-timing-function: ease-in;
                 animation-timing-function: ease-in;
     }
     100% {
         -webkit-transform: translateX(0%);
                 transform: translateX(0%);
     }
 }
 @-moz-keyframes ball-newton-cradle-right {
     50% {
         -moz-transform: translateX(0%);
              transform: translateX(0%);
     }
     75% {
         -moz-transform: translateX(100%);
              transform: translateX(100%);
         -moz-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
     }
     100% {
         -moz-transform: translateX(0%);
              transform: translateX(0%);
     }
 }
 @-o-keyframes ball-newton-cradle-right {
     50% {
         -o-transform: translateX(0%);
            transform: translateX(0%);
     }
     75% {
         -o-transform: translateX(100%);
            transform: translateX(100%);
         -o-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
     }
     100% {
         -o-transform: translateX(0%);
            transform: translateX(0%);
     }
 }
 @keyframes ball-newton-cradle-right {
     50% {
         -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
              -o-transform: translateX(0%);
                 transform: translateX(0%);
     }
     75% {
         -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
              -o-transform: translateX(100%);
                 transform: translateX(100%);
         -webkit-animation-timing-function: ease-in;
            -moz-animation-timing-function: ease-in;
              -o-animation-timing-function: ease-in;
                 animation-timing-function: ease-in;
     }
     100% {
         -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
              -o-transform: translateX(0%);
                 transform: translateX(0%);
     }
 }

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";