


<div class="accountsdiv"><h3 style="padding-top:20px;">Change Password</h3></div>
<hr>
<div class="changePasswordForm">
<form name="changePasswordForm">
<label>Current Password:</label>
<input type="text" class="form-control" name="currentPassword" ng-model="currentPassword" placeholder="Enter Current Password" check-password required>
 <div id="error-container">
						<span ng-show="changePasswordForm.currentPassword.$dirty">
							<span ng-cloak ng-show="changePasswordForm.currentPassword.$error.required">Please
								Enter Current Password</span>
							<span ng-cloak ng-show="!changePasswordForm.currentPassword.$error.required&&changePasswordForm.currentPassword.$error.checkPassword">Invalid Current Password</span>
							
						</span>
					</div>
<label>New Password:</label>
<input type="password" class="form-control" name="newPassword" placeholder="Enter New Password" ng-model="newPassword" required ng-disabled="changePasswordForm.currentPassword.$invalid"><div id="error-container">
<span  ng-show="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$invalid">
<span ng-show="changePasswordForm.newPassword.$error.required">Please Enter New Password.</span>
</span>

</div>
<label>Confirm New Password:</label>
<input type="password" class="form-control" ng-model="confirmNewPassword" placeholder="Enter Confirm Password" name="confirmNewPassword" required ng-pattern="newPassword" ng-disabled="changePasswordForm.currentPassword.$invalid">
<div id="error-container">
<span  ng-show="changePasswordForm.confirmNewPassword.$dirty && changePasswordForm.confirmNewPassword.$invalid">
<span ng-show="changePasswordForm.confirmNewPassword.$error.required">Please Confirm Your Password.</span>
<span ng-show="changePasswordForm.confirmNewPassword.$error.pattern">New Password and Confirm Password Mismatches.</span>
</span>

</div>
<a class="btn btn-default" ng-click=changePassword(confirmNewPassword) ng-disabled="changePasswordForm.$invalid" >Change Password</a> <a href="#/dashboard" class="btn btn-default">Cancel</a>
</form>
</div>