
<div style="margin-top:70px;">
<h3>Dashboard</h3>
<hr>
<div class="dashboarddiv" >
<span class="fa fa-users"></span><br>
<a class="btn btn-default" href="#/accounts">Accounts <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
<h4>Total Accounts: {{totalRecords.totalAccounts}}</h4>
</div>
<div class="dashboarddiv" ><span class="fa fa-id-badge"></span><br>
<a class="btn btn-default" href="#/department">Police Department <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
<h4>Total Departments: {{totalRecords.totalDepartments}}</h4>
</div>
<div class="dashboarddiv"><span class="fa fa-car"></span><br>
<a class="btn btn-default" href="#/reports">Crash Reports <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
<h4>Total Crash Reports: {{totalRecords.totalCrashReports}}</h4>
</div>
</div>