<div class="card-header h5">
  <div class="custom-row">
    <div class="headerStyle">
      <i class="fa fa-phone custom-icon"></i>
      Add Police Department
    </div>
    <div class="col-md-2 col-lg-2 text-end">
      <button
        (click)="back()"
        class="btn-back btn add-back-btn text-white"
        data-bs-toggle="modal"
        data-bs-target="#memberModal">
        <i class="fa fa-reply"></i>&nbsp;<b>Back</b>
      </button>
    </div>
  </div>
</div>
<!-- Header ends -->

<!-- Form starts -->
<div class="card-body">
  <form class="d-flex flex-column gap-3">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <label for="" class="form-label"
          >County <span class="text-danger">*</span></label
        >
        <div class="input-box">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-globe"></i>
          </span>
          <select class="form-control">
            <option value="">---select---</option>
            <option value="India">India</option>
            <option value="SA">SA</option>
            <option value="Aus">Aus</option>
          </select>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <label for="" class="form-label"
          >Name<span class="text-danger">*</span></label
        >
        <div class="input-box">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-user"></i>
          </span>
          <input type="text" class="form-control w-100" placeholder="Name" />
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <label for="" class="form-label"
          >Code<span class="text-danger">*</span></label
        >
        <div class="input-box">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-code"></i>
          </span>
          <input type="text" class="form-control w-100" placeholder="Code" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <label for="" class="form-label"
          >Login Link<span class="text-danger">*</span></label
        >
        <div class="input-box">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-link"></i>
          </span>
          <input
            type="text"
            class="form-control w-100"
            placeholder="Login Url"
          />
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <label for="" class="form-label"
          >Search Link<span class="text-danger">*</span></label
        >
        <div class="input-box">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-link"></i>
          </span>
          <input
            type="text"
            class="form-control w-100"
            placeholder="Search Url"
          />
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <label for="" class="form-label">Upload File</label>
        <div class="input-box">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-cloud-arrow-up"></i>
          </span>
          <input
            class="w-100"
            type="file"
            accept="image/*"
            placeholder="Supporting"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-end">
        <button class="btn common-btn-css common-btn-color" type="submit">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
<!-- Form ends -->