<!-- Header Starts -->
<div class="card-header h5">
  <div class="custom-row">
    <div class="headerStyle">
      <i class="fa fa-phone custom-icon"></i>
      Add Police Department
    </div>
    <div class="col-md-2 col-lg-2 text-end">
      <button (click)="back()" class="btn-back btn add-back-btn text-white">
        <i class="fa fa-reply"></i>&nbsp;<b>Back</b>
      </button>
    </div>
  </div>
</div>
<!-- Header Ends -->

<!-- Form starts -->
<div class="card-body">
  <form class="d-flex flex-column gap-3" [formGroup]="addPoliceDepartmentForm">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <label for="" class="form-label">County <span class="text-danger">*</span></label>
        <div class="input-box">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-globe"></i>
          </span>
          <select class="form-control" formControlName="countyId">
            <option value="">--Select--</option>
            <option *ngFor="let county of countyList" value="{{ county?.county_id }}">
              {{ county?.county_name }}
            </option>
          </select>
        </div>
        <div class="error-msg-area">
          <div *ngIf="
              addPoliceDepartmentForm.controls['countyId'].errors &&
              (!addPoliceDepartmentForm.controls['countyId'].pristine ||
                isAddFormSubmitted)
            " class="error-msg">
            <div [hidden]="!addPoliceDepartmentForm.controls['countyId'].errors?.['required']" class="text-danger">
              Please Select a County
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <label for="" class="form-label">Name<span class="text-danger">*</span></label>
        <div class="input-box">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-user"></i>
          </span>
          <input type="text" class="form-control w-100" placeholder="Name" formControlName="name" (change)="onChangeName($event)" />
        </div>
        <div class="error-msg-area">
          <div *ngIf="
              addPoliceDepartmentForm.controls['name'].errors &&
              (!addPoliceDepartmentForm.controls['name'].pristine ||
                isAddFormSubmitted)
            " class="error-msg">
            <div [hidden]="!addPoliceDepartmentForm.controls['name'].errors?.['required']" class="text-danger">
              Please Enter Name
            </div>
            <div
            [hidden]="!addPoliceDepartmentForm.controls['name'].errors?.['pattern']"
            class="text-danger"
          >
            Name can only contain alphabets and spaces
          </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <label for="" class="form-label">Code<span class="text-danger">*</span></label>
        <div class="input-box">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-code"></i>
          </span>
          <input type="text" class="form-control w-100" placeholder="Code" formControlName="code" />
        </div>
        <div class="error-msg-area">
          <div *ngIf="
              addPoliceDepartmentForm.controls['code'].errors &&
              (!addPoliceDepartmentForm.controls['code'].pristine ||
                isAddFormSubmitted)
            " class="error-msg">
            <div [hidden]="!addPoliceDepartmentForm.controls['code'].errors?.['required']" class="text-danger">
              Please Enter Code
            </div>
            <div
            [hidden]="!addPoliceDepartmentForm.controls['code'].errors?.['invalidCodePattern'] || addPoliceDepartmentForm.controls['code'].errors?.['required']"
            class="text-danger"
          >
            Code must start with 'RR_' and end with '_' (_ Eg: RR_AB_ )
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <label for="" class="form-label">Login Link<span class="text-danger">*</span></label>
        <div class="input-box">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-link"></i>
          </span>
          <input type="text" class="form-control w-100" placeholder="Login Url" formControlName="loginLink" />
        </div>
        <div class="error-msg-area">
          <div *ngIf="
              addPoliceDepartmentForm.controls['loginLink'].errors &&
              (!addPoliceDepartmentForm.controls['loginLink'].pristine ||
                isAddFormSubmitted)
            " class="error-msg">
            <div [hidden]="!addPoliceDepartmentForm.controls['loginLink'].errors?.['required']" class="text-danger">
              Please Enter Login Link
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <label for="" class="form-label">Search Link<span class="text-danger">*</span></label>
        <div class="input-box">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-link"></i>
          </span>
          <input type="text" class="form-control w-100" placeholder="Search Url" formControlName="searchLink" />
        </div>
        <div class="error-msg-area">
          <div *ngIf="
              addPoliceDepartmentForm.controls['searchLink'].errors &&
              (!addPoliceDepartmentForm.controls['searchLink'].pristine ||
                isAddFormSubmitted)
            " class="error-msg">
            <div [hidden]="!addPoliceDepartmentForm.controls['searchLink'].errors?.['required']" class="text-danger">
              Please Enter Search Link
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <label for="" class="form-label">Upload File</label>
        <div class="input-box" *ngIf="!isImageEdit || !isEdit">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-cloud-arrow-up"></i>
          </span>
          <input class="w-100" type="file" accept="image/*" placeholder="Supporting" formControlName="image" (change)="onChangeNewImage($event)"  />
        </div>
        <div class="form-error">
          <div *ngIf="addPoliceDepartmentForm.controls['image'].errors && (!addPoliceDepartmentForm.controls['image'].pristine|| isAddFormSubmitted)"
              class="error-msg">
              <div [hidden]="!addPoliceDepartmentForm.controls['image'].errors['invalidType']">
                  Please
                  Choose
                  A Valid File.(supported file types - Image (jpg,jpeg,png))
              </div>
              <div [hidden]="!addPoliceDepartmentForm.controls['image'].errors['invalidDimensions']">
                Please Select Image With 1400*450 Dimension
            </div>
          </div>
      </div>
        <div class="col-12" *ngIf="isEdit && isImageEdit">
          <img class="w-100" [src]="supportingImage ? supportingImage : ''" />
        </div>
        <div *ngIf="isEdit">
          <a *ngIf="!isImageEdit" class="text-decoration-none txt cursor-pointer" (click)="toggleEditImage()"><i
              class="fa-solid fa-xmark"></i>Cancel</a>
          <a *ngIf="isImageEdit" class="text-decoration-none txt cursor-pointer" (click)="toggleEditImage()"><i
              class="fa-solid fa-pen"></i>Click to change</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-end">
        <button (click)="onSubmit()" class="btn common-btn-css common-btn-color" type="submit">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
<!-- Form ends -->