@import 'src/styles.scss';

.btn-back{
    background-color: $primary-color;
}


.txt{
    color: $secondary-color;
    cursor: pointer;
}

.code {
  color: #6c757d; 
  position: absolute; 
  bottom: -20px; 
}